/* GLOBALES */

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


/* ESTILOS COMUNES */

p {
    color: rgb(131, 127, 127);
}

h3 {
    font-family: 'Alegreya Sans', sans-serif;
    color: rgb(67, 88, 67);
}

h2 {
    font-family: 'Alegreya Sans', sans-serif;
    color: rgb(92, 90, 71);
}

h1 {
    font-family: 'Alegreya Sans', sans-serif;
    color: gray;
}

a {
    color: var(--middle-grey)
}