/* GLOBALES */

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


/* ESTILOS COMUNES */


p {
    color: rgb(131, 127, 127);
    font-size: 18px;
    text-align: justify;
}

h3 {
    font-family: 'Arima Madurai', cursive;
    color: rgb(67, 88, 67);
}

h2 {
    font-family:  'Arima Madurai', cursive;
    color: rgb(71, 92, 71);
    font-weight: bold;
}

h1 {
    font-family:'Lobster Two', cursive;
    color: gray;
    padding-bottom: 3rem;
    
   }

li {
    a {
    color: var(--middle-grey);
    font-family:  'Arima Madurai', cursive;
    }
}

.flex-col p {
    text-align: center;
}