/* PAG QUIENES SOMOS */


.main-quienes_somos {
    width: 80%;
    padding: 3rem;
    background-color: var(--mint-cream);
    margin: 0 auto;
    line-height: 3.5rem;
}

#carousel {
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 737px){
    .main-quienes_somos {
        width: 100%;
        background-color: var(--mint-cream);
        margin: 0 auto;
        line-height: 3rem;
        p {
            font-size: 17px;
        }
    }
}
    